# 9 Hidden Features of Python

# 1. `else` with `for` loop
- The else block runs only if the loop finish without a break

In [1]:
for i in range(5):
  print(i)
else:
  print('For loop Done without break statement')

0
1
2
3
4
For loop Done without break statement

In [2]:
for i in range(5):
  if i == 3:
    break
  print(i)
else:
  print('For loop Done without break statement')

0
1
2

# 2. `_` for last result of REPL
- Python saves your last output in variable named `_`

In [5]:
5+7
_

12

In [7]:
_ + 3

15

In [8]:
_

15

# 3. Multiple Assignment
- Python allows multiple assignment in one line

In [9]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

# 4. `zip()` method for parallel iteration
- iterate over multiple lists in parallel at once

In [10]:
names = ['alice', 'bob', 'don', 'omar', 'johny']
ages = [15, 30, 35, 10, 52]
countries = ['usa', 'uk', 'rus', 'uae', 'aus',]

for name, age, country in zip(names, ages, countries):
  print(name, age, country)

alice 15 usa
bob 30 uk
don 35 rus
omar 10 uae
johny 52 aus

# 5. `enumerate()` method for Track Index
- for manual counter it helps more

In [11]:
names = ['alice', 'bob', 'don', 'omar', 'johny']
for i, name in enumerate(names):
  print(f'index: {i}, name: {name}')

index: 0, name: alice
index: 1, name: bob
index: 2, name: don
index: 3, name: omar
index: 4, name: johny

# 6. `_` in numaric literals
- use `_` to make numaric numbers easier to read

In [12]:
a = 100_00_00
a

1000000

# 7. Swap two variables without temp
- swap two variables in one line

In [13]:
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

# 8. `else` with `try/execpt` block
- the `else` block runs only when there is no error occur in `try/except` block

In [14]:
try:
  print("Hi I am try block")
except:
  print("Hi I am except block")
else:
  print("Hi I am else block")

Hi I am try block
Hi I am else block

In [15]:
try:
  print("Hi I am try block")
  print(1/0)
except:
  print("Hi I am except block")
else:
  print("Hi I am else block")

Hi I am try block
Hi I am except block

# 9. if `__name__ == "__main__"`
- Lets control when program runs

In [16]:
print("I am top of the program")

def add(a, b):
  print(a+b)

if __name__ == "__main__":
  add(10, 20)

I am top of the program
30