# Dictonary basic

# create dict

In [12]:
d = {
    "name" : "Nazmul",
    "age" : 22,
    "address" : {
        "village" : {
            "name" : "Shreedharpur ðŸ˜™",
            "road" : "Pakar Matha ðŸ˜Š"
        },
        "post" : "Tilakpur",
        "district" : "Naogaon",
        "division" : "Rajshahi"
    },
    "marks" : [20, 24, 17, 25, 26],
    "education" : ("BSc.", "CSE", 223002089, 4.53)
}

In [13]:
print(f"Print all data: {d}")

print( f"\n\nPrint village data {d["address"]["village"]["road"]}"  )

Print all data: {'name': 'Nazmul', 'age': 22, 'address': {'village': {'name': 'Shreedharpur ðŸ˜™', 'road': 'Pakar Matha ðŸ˜Š'}, 'post': 'Tilakpur', 'district': 'Naogaon', 'division': 'Rajshahi'}, 'marks': [20, 24, 17, 25, 26], 'education': ('BSc.', 'CSE', 223002089, 4.53)}


Print single data Pakar Matha ðŸ˜Š

In [15]:
print( f"Print marks data {   d["marks"][1]  }"  )
print( f"\nPrint equcation data {   d["education"][2]  }"  )

Print marks data 24

Print equcation data 223002089

In [16]:
print(type(d));

<class 'dict'>

In [19]:
d["route"] = 3;
print(f"Print all data: {d}")
print("Dictionary Length:",len(d))

Print all data: {'name': 'Nazmul', 'age': 22, 'address': {'village': {'name': 'Shreedharpur ðŸ˜™', 'road': 'Pakar Matha ðŸ˜Š'}, 'post': 'Tilakpur', 'district': 'Naogaon', 'division': 'Rajshahi'}, 'marks': [20, 24, 17, 25, 26], 'education': ('BSc.', 'CSE', 223002089, 4.53), 'route': 3}
Dictionary Length: 6

# Dictonary Comprehensive

In [31]:
d2 = {
    x : x * x for x in range(5)
}

print(d2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 'name': 'Nazmul'}

# Dictonary Data remove

In [36]:
d2['name'] = 'Nazmul';
print(f'Dict Full data: {d2}');

a = d2.pop('name');

print(f'Removed data: {a}')
print(f'After Pop data: {d2}');

Dict Full data: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 'name': 'Nazmul'}
Removed data: Nazmul
After Pop data: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# Delete data

In [38]:
d3 = {
    1 : 1,
    2 : 2,
    3 : 3
}
print(f'Dict Full data: {d3}');

del d3[2]
print(f'After Pop data: {d3}');

Dict Full data: {1: 1, 2: 2, 3: 3}
After Pop data: {1: 1, 3: 3}